*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.background {
    background-color:cornflowerblue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: cornsilk;
    width: fit-content;
    padding: 80px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 100px;
    height: 100px;
    background: cornflowerblue;
    border-radius: 100px;
    margin-bottom: 40px;
}

.box {
    width: 100%;
}

.input {
    background-color: transparent;
    border-width: 0px;
    border-bottom: solid 1px cornflowerblue;
    padding: 5px;
}

.input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.button {
    background: cornflowerblue;
    width: 100%;
    height: 34px;
    border: solid 1px cornflowerblue;
    border-radius: 20px;
    margin: 15px 0 10px 0;
    color: white;
}

.pergunta {
    color: #8e8d8d;
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 15px 15px 5px 15px;
}

#button-limpar {
    background-color: darkgrey;
    border: transparent;
    margin: 0px;
}